<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762701915647-e0b1qg35i01d4k0tu574rp0h7q4iitph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762701915647-e0b1qg35i01d4k0tu574rp0h7q4iitph</string>
	<key>API_KEY</key>
	<string>AIzaSyBbDuBAJQHtqTZF42zJRWdEY54aDBdLx80</string>
	<key>GCM_SENDER_ID</key>
	<string>762701915647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gazelleweb-tech.camapp</string>
	<key>PROJECT_ID</key>
	<string>cama-f5d9b</string>
	<key>STORAGE_BUCKET</key>
	<string>cama-f5d9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762701915647:ios:adf5586db4d23c3ba333ca</string>
</dict>
</plist>